Best_Models/Deprecated/Model_89_98_Epoch24.pt
Best_Models/Deprecated/Model_89_86_Epoch35.pt
Best_Models/Deprecated/Model_89_86_Epoch30.pt
Best_Models/Deprecated/Model_89_86_Epoch25.pt
Best_Models/Deprecated/Model_89_86_Epoch22.pt
Best_Models/Deprecated/Model_89_74_Epoch26.pt
Best_Models/Deprecated/Model_89_63_Epoch53.pt
Best_Models/Deprecated/Model_89_63_Epoch29.pt
Best_Models/Deprecated/Model_89_63_Epoch28.pt
Best_Models/Deprecated/Model_89_63_Epoch20.pt
Best_Models/Deprecated/Model_89_51_Epoch49.pt
Best_Models/Deprecated/Model_89_39_Epoch18.pt
Best_Models/Deprecated/Model_89_28_Epoch37.pt
Best_Models/Deprecated/Model_89_28_Epoch23.pt
Best_Models/Deprecated/Model_89_16_Epoch52.pt
Best_Models/Deprecated/Model_89_16_Epoch41.pt
Best_Models/Deprecated/Model_89_04_Epoch36.pt
Best_Models/Deprecated/Model_89_04_Epoch34.pt
Best_Models/Deprecated/Model_88_93_Epoch27.pt
Best_Models/Deprecated/Model_88_81_Epoch39.pt
Best_Models/Deprecated/Model_88_11_Epoch32.pt
Best_Models/Deprecated/Model_87_30_Epoch13.pt
Best_Models/Deprecated/Model_87_06_Epoch19.pt
Best_Models/Deprecated/Model_87_06_Epoch16.pt
Best_Models/Deprecated/Model_86_95_Epoch17.pt
Best_Models/Deprecated/Model_86_83_Epoch14.pt
Best_Models/Deprecated/Model_86_71_Epoch21.pt
Best_Models/Deprecated/Model_86_71_Epoch10.pt
Best_Models/Deprecated/Model_86_48_Epoch12.pt
Best_Models/Deprecated/Model_86_36_Epoch15.pt
Best_Models/Deprecated/Model_86_36_Epoch11.pt
Best_Models/Model_88_12_Epoch95.pt
Best_Models/Model_92.pt
Best_Models/Deprecated/Model_89_98_Epoch33.pt
Best_Models/Model_88_12_Epoch95.pt
Best_Models/Model_92.pt
